* {
    padding: 0;
    margin: 0;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #140e66);
}
 /* Estilos CSS para el título y la descripción */
 .title {
    text-align: center; /* Centrar el texto del título */
    font-family: "Arial", sans-serif; /* Tipo de fuente elegante */
    font-size: 50px; /* Tamaño de fuente para el título */
    margin-top: 70px; /* Espacio superior */
}

.description {
    text-align: center; /* Centrar el texto de la descripción */
    font-family: "Arial", sans-serif; /* Tipo de fuente elegante */
    font-size: 40px; /* Tamaño de fuente para la descripción */
    margin-top: 40px; /* Espacio superior */
}